body {
  width: 370px;
  height: 340px;
  align-content: center;
  background-color: #2c2c2c;
}

p,
div,
span {
  font-family: hind_m, simhei, verdana, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  display: block;
  font-size: 20px;
  line-height: 22px;
  color: white;
  padding: 10px;
  font-family: hind_m, simhei, verdana, Helvetica, sans-serif;
  background-color: #363636;
}

.followMe,
.normalText {
  overflow: hidden;
  font-size: 14px;
  line-height: 21px;
  /*color:#5f5f5f;*/
  word-break: break-word;
  word-wrap: break-word;
  color: white;
}

.normalText {
  border-bottom: 3px solid #363636;
  padding-bottom: 5px;
}

a {
  color: #00dc64;
}
